#about.modal.fade
    .modal-dialog
      .modal-content
        .modal-body
          h1 Thanks for trying Bingosync!
          p
            | Bingosync is a real-time bingo board application used to enhance game play for team-style games. It is designed to work with official
            a(href='http://speedrunslive.com/') &nbsp;SRL&nbsp;
            | bingo boards, as well as derivatives.
          h2#games Games
          ul
            li
              strong Blackout Bingo
              | - Two or more teams compete using the same session. It is a race to see who can claim the most squares before the entire board is filled.
            li
              strong Lockout Bingo
              | - Each person or team completes the entire board as quickly as possible.
            li Feel free to contact me with any new ideas you may have for bingos.
          h2#changelog Changelog
          p
            strong 0.4.0
          ul
            li Fix breaking changes from SRL Bingo
            li Maintenance
          p
            strong 0.3.0
          ul
            li Stability improvements
          p
            strong 0.2.0
          ul
            li Chat client: Chat with other players during the bingo.
            li Local planning: SHIFT+Click will mark a square for personal use, and will not affect other players from marking the square in the game.                        
            li Updated design

  
