#about.modal.fade
    .modal-dialog
      .modal-content
        .modal-body
          h1 Thanks for trying Bingosync!
          p
            | Bingosync is a synchronous bingo board application used to enhance game play for team-style games. It is designed to work with official
            a(href='http://speedrunslive.com/') &nbsp;SRL&nbsp;
            | bingo boards, as well as derivatives.
          h2#games Games
          ul
            li
              strong Blackout Bingo
              | - Two or more teams compete using the same session. It is a race to see who can claim the most squares before the entire board is filled.
            li
              strong Lockout Bingo
              | - Each person or teams completes the entire board as quickly as possible.
            li Feel free to contact me with any new ideas you may have for bingos.
          h2#new-feature New feature
          p
            | Bingosync now has an option for locally marking a square for your own reference. SHIFT+Click will mark a square for personal use, and will not affect other players from marking the square in the game.
          h2#changelog Changelog
          p
            strong 0.2.0
          ul
            li Added chat client
            li Updated design
            li Local planning
  
