extends layout

block nav
  div#color.btn-group.pull-right(data-toggle="buttons-radio")
    button.btn.btn-danger(value="red") red
    button.btn.btn-success(value="green") green
    button.btn.btn-primary.active(value="blue") blue
    //- button.btn.btn-info(value="teal") teal
    button.btn.btn-warning(value="orange") orange
block sidebar
  form#join-session
    fieldset.well
      //- select#type.input-block-level(name='type', type='text', placeholder="Board type")
      //-   for item in board_types
      //-     option #{item}

      input#nickname.input-block-level(name='nickname', type='text', placeholder="Nickname")
      input#session_name.input-block-level(name='session_name', type='text', placeholder="Session name")
      input#password.input-block-level(name='password', type='password', placeholder="Password")
      input#seed.input-block-level(name='seed', type='text', placeholder='Bingo seed')
      .form-actions
        button#join.btn.btn-primary.btn-block(type='submit', data-loading-text="Joining...") Join
  div
    ul#user-list.nav.nav-list

block content
  #board
