extends layout

block nav
  div#color.btn-group.navbar-form.pull-right(data-toggle="buttons")
    label.btn.btn-red
      input(type="radio", name='color', value="red")
      | red
    label.btn.btn-green
      input(type="radio", name='color', value="green")
      | green
    label.btn.btn-blue.active
      input(type="radio", name='color', value="blue")
      | blue
    label.btn.btn-purple
      input(type="radio", name='color', value="purple")
      | purple
    label.btn.btn-orange
      input(type="radio", name='color', value="orange")
      | orange

block sidebar
  form#join-session
    fieldset.well
      .form-group
        select#type.form-control(name='type', placeholder="Board type")
          for option in board_types
            option(value=option.code) #{option.label}

      .form-group
        input#nickname.form-control(name='nickname', type='text', placeholder="Nickname")
      .form-group
        input#session_name.form-control(name='session_name', type='text', placeholder="Session name")
      .form-group
        input#password.form-control(name='password', type='password', placeholder="Password")
      .form-group
        input#seed.form-control(name='seed', type='text', placeholder='Bingo seed')
      .form-actions
        button#join.btn.btn-primary.btn-block(type='submit', data-loading-text="Joining...") Join

  form#quit-session.hide
    fieldset.well
      button#join.btn.btn-red.btn-block(type='submit', data-loading-text="Quitting...") Disconnect

  div
    ul#user-list.nav.nav-list

block content
  #board

block footer
  ul
    li
      a(href='http://twitchtools.tv', target="_blank") twitchtools.tv
