extends layout

block nav
  div#color.btn-group.pull-right(data-toggle="buttons-radio")
    button.btn.btn-red(value="red") red
    button.btn.btn-green(value="green") green
    button.btn.btn-blue.active(value="blue") blue
    button.btn.btn-purple(value="purple") purple
    button.btn.btn-orange(value="orange") orange
block sidebar
  form#join-session
    fieldset.well
      select#type.input-block-level(name='type', placeholder="Board type")
        for option in board_types
          option(value=option.code) #{option.label}

      input#nickname.input-block-level(name='nickname', type='text', placeholder="Nickname")
      input#session_name.input-block-level(name='session_name', type='text', placeholder="Session name")
      input#password.input-block-level(name='password', type='password', placeholder="Password")
      input#seed.input-block-level(name='seed', type='text', placeholder='Bingo seed')
      .form-actions
        button#join.btn.btn-primary.btn-block(type='submit', data-loading-text="Joining...") Join

  form#quit-session.hide
    fieldset.well
      button#join.btn.btn-red.btn-block(type='submit', data-loading-text="Quitting...") Disconnect

  div
    ul#user-list.nav.nav-list

block content
  #board
