#board,
#board table {
  width: 100%;
}

select {
  color: #666666!important;
}

.btn-group {
  .active {
    background: #333;
  }
}

#bingo tr:first-child td,
#bingo tr:last-child td {
  display: none;
}

td {
  padding: 0 5px;
  cursor: pointer;
  width: 95px;
  height: 90px;
  text-align: center;
  border: 1px #424242 solid;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  &.locked {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
}

#bingo tr td:first-child {
  display: none;
}
